<section class="main">
  <div><img width="300" src="assets/logo/logo_gorila.svg" /></div>

  <h2>The tree house for all UI components for <a href="https://gorilainvest.com.br" target="_blank">gorila webapp!</a></h2>

  <small>Made with ❤ in Brazil by gorillas.</small>
</section>
<section class="getting-started">
  <h1>Getting started</h1>

  <h3>1. Install the library</h3>
  <div class="pre-wrapper">
<pre class="code install">
<span>$ npm install --save @gorilainvest/ui-toolkit</span>
<span></span>
<span>$ yarn add @gorilainvest/ui-toolkit</span>
</pre>
  </div>

  <h3>2. Update your tsconfig paths</h3>
  <div class="pre-wrapper">
<pre class="code tsconfig">
<span>...</span>
<span>  "paths": &#123;</span>
<span>    ...</span>
<span>    "@gorilainvest/ui-toolkit/*": [</span>
<span>      "node_modules/@gorilainvest/ui-toolkit/dist/*"</span>
<span>    ]</span>
<span>  &#125;</span>
<span>...</span>
</pre>
  </div>
</section>

<section class="dummy">
  <p></p>
</section>
