# compiled output
/dist/apps
/documentation
/out-tsc
/tmps

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# lock files
package-lock.json
yarn.lock

# other folders
/apps
/coverage
/guides
/libs
/scripts
/tool

# other files
*.tgz
.editorconfig
.*rc
.prettier*
.travis.yml
angular.json
*conf.js
*conf.json
*config.js
*config.json
nx.json
tsconfig*json
tslint.json
