// generate in http://mcg.mbitson.com/ with #11c0c5
$mat-gorila-primary: (
  50 : #e2f7f8,
  100 : #b8ecee,
  200 : #88e0e2,
  300 : #58d3d6,
  400 : #35c9ce,
  500 : #11c0c5,
  600 : #0fbabf,
  700 : #0cb2b8,
  800 : #0aaab0,
  900 : #059ca3,
  A100 : #cffcff,
  A200 : #9cfaff,
  A400 : #69f7ff,
  A700 : #4ff6ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

// generate in http://mcg.mbitson.com/ with #5ce385
$mat-gorila-accent: (
  50 : #ebfcf0,
  100 : #cef7da,
  200 : #aef1c2,
  300 : #8debaa,
  400 : #74e797,
  500 : #5ce385,
  600 : #54e07d,
  700 : #4adc72,
  800 : #41d868,
  900 : #30d055,
  A100 : #ffffff,
  A200 : #e1ffe8,
  A400 : #aeffbf,
  A700 : #95ffab,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
