$header-height: 70px;
$menu-icon-size: 24px;

.container {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.is-mobile {
  .header {
    position: fixed;
    z-index: 2;
  }
  .sidenav-container {
    flex: 1 0 auto;
  }
}

.header {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  height: $header-height;
  justify-content: center;
  z-index: 2;

  h1,
  mat-icon {
    color: white;
    cursor: pointer;
  }

  button[mat-icon-button] {
    background: transparent;
    border: none;
    height: $menu-icon-size;
    left: ($header-height - $menu-icon-size) / 2;
    padding: 0;
    position: absolute;
    top: ($header-height - $menu-icon-size) / 2 - 5px;
    width: $menu-icon-size;
  }
}

.sidenav-container {
  flex: 1;
  h1 {
    font-weight: bold;
  }
  .mat-list-item.active .mat-line {
     color: #11C0C5;
     text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .mat-drawer.mat-sidenav {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.router-container {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  > *:not(router-outlet) {
    margin: 20px 100px;
    width: 100%;
  }

  &--wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

.mat-card-content {
  height: 400px;
  .mat-card-title {
    font-size: 4rem;
  }
  .mat-list[role='list'] {
    display: grid;
    grid-row-gap: 10px;
    grid-auto-rows: 60px;
  }
}
.mat-grid-list > div {
  display: grid;
  grid-template-areas: 'a b b b c' 'a d d d c';
  grid-template-columns: 1.3fr 1fr 1fr 1fr 0.7fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 100%;
  .mat-grid-tile {
    height: 100% !important;
    left: unset !important;
    position: relative !important;
    top: unset !important;
    width: 100% !important;
  }
  .mat-grid-tile .mat-figure {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .mat-grid-tile-header {
    align-self: flex-start;
    background: transparent;
    color: black;
    font-size: 2rem;
    position: relative;
  }
  .left-aside {
    grid-area: a;
  }
  .visual {
    grid-area: b;
  }
  .right-aside {
    grid-area: c;
  }
  .code {
    grid-area: d;
  }
}
.card-body__configurations {
  width: 100%;
}
