$header-height: 70px;
$menu-icon-size: 24px;
$theme-picker-menu-padding: 8px;
$theme-picker-grid-cell-size: 48px;
$theme-picker-grid-cells-per-row: 2;
$theme-picker-swatch-size: 36px;
$theme-picker-accent-stripe-size: 6px;

.container {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.is-mobile {
  .header {
    position: fixed;
    z-index: 2;
  }
  .sidenav-container {
    flex: 1 0 auto;
  }
}

.header {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  height: $header-height;
  justify-content: center;
  z-index: 2;

  h1,
  mat-icon {
    color: white;
    cursor: pointer;
  }

  button[mat-icon-button] {
    background: transparent;
    border: none;
    height: $menu-icon-size;
    left: ($header-height - $menu-icon-size) / 2;
    padding: 0;
    position: absolute;
    top: ($header-height - $menu-icon-size) / 2 - 5px;
    width: $menu-icon-size;
  }

  .github-link {
    position: absolute;
    right: ($header-height - $menu-icon-size) / 2 + 5px;
    top: ($header-height - $menu-icon-size) / 2 - 8px;
  }

  .theme-picker {
    left: unset !important;
    right: (($header-height - $menu-icon-size) / 2 + 5px) * 3 !important;
  }
}

.sidenav-container {
  flex: 1;
  h1 {
    font-weight: bold;
  }


  .mat-list-item,
  .mat-list-item-content {
    height: auto !important;
    min-height: 48px;
  }
  .group>.mat-list-item-content {
    padding: 0 !important;

  }

  .mat-list-item.active .mat-line {
     color: #11C0C5;
     text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .mat-drawer.mat-sidenav {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

    width: 200px;
  }
  .mat-accordion,
  .mat-expansion-panel {
    width: 100%;
  }
  .mat-expansion-panel-header,
  .mat-list-item-content {
    padding-left: 16px;
  }

  .mat-expanded .mat-expansion-panel-header {
    text-decoration: underline;
  }
  .has-active,

  .mat-expanded .mat-expansion-panel-header {
    color: #11C0C5;
    font-weight: light;

  }
}

.router-container {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  > *:not(router-outlet) {
    margin: 20px 100px;
    width: 100%;
  }

  &--wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

.theme-picker-menu {
  .mat-menu-content {
    padding: $theme-picker-menu-padding;
  }

  [mat-menu-item] {
    flex: 0 0 auto;
    padding: 0;
    overflow: hidden;
  }

  .theme-picker-swatch {
    position: relative;
    width: $theme-picker-swatch-size;
    height: $theme-picker-swatch-size;
    margin: ($theme-picker-grid-cell-size - $theme-picker-swatch-size) / 2;
    border-radius: 50%;
    overflow: hidden;

    .theme-chosen-icon {
      color: white;
      position: absolute;
      left: 50%; top: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: 1px solid rgba(0,0,0,.2);
      border-radius: 50%;
    }
  }

  .theme-picker-primary {
    width: 100%;
    height: 100%;
  }

  .theme-picker-accent {
    position: absolute;
    bottom: $theme-picker-accent-stripe-size;
    width: 100%;
    height: $theme-picker-accent-stripe-size;
  }
}
