<div class="container" [class.example-is-mobile]="mobileQuery.matches" [ngClass]="currentTheme.name">
  <mat-toolbar color="primary" class="header">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 [routerLink]="['/']">Welcome to {{ title }}!</h1>
    <button class="theme-picker" mat-icon-button [mat-menu-trigger-for]="themeMenu" matTooltip="Select a theme!"
        tabindex="-1">
      <mat-icon>format_color_fill</mat-icon>
    </button>
    <a mat-icon-button class="github-link" href="https://github.com/gorilainvest/gorila-ui-components" target="_blank">
      <img src="assets/logo/GitHub-Mark-Light-32px.png" alt="Github logo with a link to repository">
    </a>
  </mat-toolbar>
  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <mat-list-item [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a matLine>Home</a>
        </mat-list-item>
        <mat-list-item
          *ngFor="let item of items"
          [routerLink]="['/', item.route]"
          routerLinkActive="active"
        >
          <a matLine class="capitalize">{{ item.text }}</a>
        </mat-list-item>
        <mat-list-item class="doc-anchor">
          <a matLine href="./docs/index.html" target="_blank">Documentation</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="router-container"><router-outlet></router-outlet></div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<mat-menu class="theme-picker-menu" #themeMenu="matMenu" x-position="before">
  <mat-grid-list cols="2">
    <mat-grid-tile *ngFor="let theme of themes">
      <div mat-menu-item (click)="applyTheme(theme)">
        <div class="theme-picker-swatch">
          <div class="theme-picker-primary" [style.background]="theme.primary"></div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-menu>
