<gdk-card
  title="Enhanced Title"
  subtitle="Title for pages compounds of two parts, where you can highlight half of it"
  [withoutOutput]="true"
>
  <mat-list role="list" class="inputs">
    <mat-list-item role="listitem" class="title-config-container">
      <mat-form-field class="full-width">
        <input matInput placeholder="Title" [formControl]="titleFormControl" />
        <mat-hint>The bold title</mat-hint>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item role="listitem" class="highlight-config-container">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Highlight"
          [formControl]="highlightFormControl"
        />
        <mat-hint>The highlighed text</mat-hint>
      </mat-form-field>
    </mat-list-item>
  </mat-list>

  <enhanced-title
    class="widget"
    [title]="titleFormControl.value"
    [highlight]="highlightFormControl.value"
  >
  </enhanced-title>

  <pre class="code">
<span>// module import</span>
<span>import &#123; EnhancedTitleModule &#125; from '@gorilainvest/ui-toolkit/dist/enhanced-title';</span>
<span></span>
<span>// template.html</span>
<span>&lt;enhanced-title</span>
<span>  [title]=&quot;'{{titleFormControl.value}}'&quot;</span>
<span>  [highlight]=&quot;'{{highlightFormControl.value}}'&quot;&gt;</span>
<span>&lt;/enhanced-title&gt;</span>
<span></span>
  </pre>
</gdk-card>
